/* Footer.css */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  top: 220px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer p {
  margin: 5px 0;
  font-size: 18px;
}

.footer a {
  color: #ffd700;
  text-decoration: none;
}

.social-links {
  margin-top: 10px;
}

.social-link {
  margin: 0 10px;
}

.social-link:hover {
  color: #fff;
}
